In [4]:
# Import pandas
import pandas as pd

In [12]:
# intialize dataset variables

dataset_user = 'C:/Users/akshay1/Desktop/MovieRecEnginer/ml-100k/u.user'
dataset_ratings = 'C:/Users/akshay1/Desktop/MovieRecEnginer/ml-100k/u.data'
dataset_movies = 'C:/Users/akshay1/Desktop/MovieRecEnginer/ml-100k/u.item'

In [7]:
# Reader user information from dataset

user_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv(dataset_user, sep='|', names=user_cols,
 encoding='latin-1')

In [8]:
#Reading ratings file:
ratings_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv(dataset_ratings, sep='\t', names=ratings_cols,
 encoding='latin-1')

In [13]:
#Reading movies file:
movies_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv(dataset_movies, sep='|', names=movies_cols, encoding='latin-1')

In [15]:
print users.shape
# there are 943 rows and 5 coloumns

(943, 5)

In [17]:
users.head()
# prints first 5 rows

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [18]:
# similarly print ratings and movies

print ratings.shape
ratings.head()

AttributeError: 'DataFrame' object has no attribute 'shapre'