In [2]:
# Import pandas and graphlab
import pandas as pd
import graphlab

In [3]:
# intialize dataset variables

dataset_user = 'C:/Users/akshay1/Desktop/MovieRecEnginer/ml-100k/u.user'
dataset_ratings = 'C:/Users/akshay1/Desktop/MovieRecEnginer/ml-100k/u.data'
dataset_movies = 'C:/Users/akshay1/Desktop/MovieRecEnginer/ml-100k/u.item'

In [4]:
# Reader user information from dataset

user_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv(dataset_user, sep='|', names=user_cols,
 encoding='latin-1')

In [5]:
#Reading ratings file:
ratings_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv(dataset_ratings, sep='\t', names=ratings_cols,
 encoding='latin-1')

In [6]:
#Reading movies file:
movies_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv(dataset_movies, sep='|', names=movies_cols, encoding='latin-1')

In [7]:
print users.shape
# there are 943 rows and 5 coloumns

(943, 5)

In [8]:
users.head()
# prints first 5 rows

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [9]:
# similarly print ratings
print ratings.shape
ratings.head()

(100000, 4)

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [10]:
# similarly print movies
print items.shape
items.head()

(1682, 24)

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [11]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_base = pd.read_csv('C:/Users/akshay1/Desktop/MovieRecEnginer/ml-100k/ua.base', sep='\t', names=r_cols, encoding='latin-1')
ratings_test = pd.read_csv('C:/Users/akshay1/Desktop/MovieRecEnginer/ml-100k/ua.test', sep='\t', names=r_cols, encoding='latin-1')
ratings_base.shape, ratings_test.shape

((90570, 4), (9430, 4))

In [12]:
# divide data into training and test data

train_data = graphlab.SFrame(ratings_base)
test_data = graphlab.SFrame(ratings_test)

This non-commercial license of GraphLab Create for academic use is assigned to ark06374@uga.edu and will expire on May 28, 2020.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Temp\graphlab_server_1559127888.log.0

## Recommendation engine based on most popular items

In [13]:
# Model based on the popularity i.e. the movies having highest ratings / reviews
popularity_model = graphlab.popularity_recommender.create(train_data, user_id='user_id', item_id='movie_id', target='rating')

Recsys training: model = popularity

Warning: Ignoring columns unix_timestamp;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 90570 observations with 943 users and 1680 items.

    Data prepared in: 0.360262s

90570 observations to process; with 1680 unique items.

In [15]:
# displaying top 3 recommendations for users
popularity_recomm = popularity_model.recommend(users=range(1,6),k=3)
popularity_recomm.print_rows(num_rows=25)

+---------+----------+-------+------+
| user_id | movie_id | score | rank |
+---------+----------+-------+------+
|    1    |   1189   |  5.0  |  1   |
|    1    |   1122   |  5.0  |  2   |
|    1    |   814    |  5.0  |  3   |
|    2    |   1189   |  5.0  |  1   |
|    2    |   1122   |  5.0  |  2   |
|    2    |   814    |  5.0  |  3   |
|    3    |   1189   |  5.0  |  1   |
|    3    |   1122   |  5.0  |  2   |
|    3    |   814    |  5.0  |  3   |
|    4    |   1189   |  5.0  |  1   |
|    4    |   1122   |  5.0  |  2   |
|    4    |   814    |  5.0  |  3   |
|    5    |   1189   |  5.0  |  1   |
|    5    |   1122   |  5.0  |  2   |
|    5    |   814    |  5.0  |  3   |
+---------+----------+-------+------+
[15 rows x 4 columns]

## Recommendation Engine based on Collaborative Filtering Model

In [22]:
# train model based on similar items(movies)
# I have used Cosine similarity

similar_movies_model = graphlab.item_similarity_recommender.create(train_data, user_id='user_id', item_id='movie_id', target='rating', similarity_type='cosine')

Recsys training: model = item_similarity

Warning: Ignoring columns unix_timestamp;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 90570 observations with 943 users and 1680 items.

    Data prepared in: 0.286194s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 6.036ms                        | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 21.023ms                            | 0.5              | 9               |

| 308.223ms                           | 100              | 1680            |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.32423s

In [23]:
# evaluate

movies_sim_recomm = similar_movies_model.recommend(users=range(1,6),k=5)
movies_sim_recomm.print_rows(num_rows=25)

+---------+----------+----------------+------+
| user_id | movie_id |     score      | rank |
+---------+----------+----------------+------+
|    1    |   423    | 0.975418307399 |  1   |
|    1    |   202    | 0.927403570131 |  2   |
|    1    |   655    |  0.8042571622  |  3   |
|    1    |   403    | 0.762978849975 |  4   |
|    1    |   568    | 0.753224327592 |  5   |
|    2    |    50    | 1.12562584877  |  1   |
|    2    |   181    | 1.06517731685  |  2   |
|    2    |   121    | 0.941627963231 |  3   |
|    2    |    9     | 0.797799165432 |  4   |
|    2    |   117    | 0.792605129572 |  5   |
|    3    |   313    | 0.635376662016 |  1   |
|    3    |   328    | 0.603288030083 |  2   |
|    3    |   315    | 0.542258712378 |  3   |
|    3    |   331    | 0.535507185893 |  4   |
|    3    |   332    | 0.531669611281 |  5   |
|    4    |    50    | 1.13114770821  |  1   |
|    4    |   288    | 1.04871511459  |  2   |
|    4    |   181    | 0.950599938631 |  3   |
|    4    |   302    | 0.913902146476 |  4   |
|    4    |   100    | 0.895554061447 |  5   |
|    5    |   195    | 1.02863586671  |  1   |
|    5    |   202    | 0.944987325235 |  2   |
|    5    |    56    | 0.837958780202 |  3   |
|    5    |    82    | 0.800540114172 |  4   |
|    5    |   568    | 0.732669954228 |  5   |
+---------+----------+----------------+------+
[25 rows x 4 columns]

## Evaluating Recommendation Engines

In [27]:
model_performance = graphlab.compare(test_data, [popularity_model, similar_movies_model])
graphlab.show_comparison(model_performance,[popularity_model, similar_movies_model])

PROGRESS: Evaluate model M0

Precision and recall summary statistics by cutoff
+--------+-------------------+-------------------+
| cutoff |   mean_precision  |    mean_recall    |
+--------+-------------------+-------------------+
|   1    |        0.0        |        0.0        |
|   2    |        0.0        |        0.0        |
|   3    |        0.0        |        0.0        |
|   4    | 0.000265111346766 | 0.000106044538706 |
|   5    | 0.000212089077413 | 0.000106044538706 |
|   6    | 0.000353481795688 | 0.000212089077413 |
|   7    | 0.000302984396304 | 0.000212089077413 |
|   8    | 0.000265111346766 | 0.000212089077413 |
|   9    | 0.000235654530458 | 0.000212089077413 |
|   10   | 0.000212089077413 | 0.000212089077413 |
+--------+-------------------+-------------------+
[10 rows x 3 columns]

PROGRESS: Evaluate model M1

Precision and recall summary statistics by cutoff
+--------+----------------+-----------------+
| cutoff | mean_precision |   mean_recall   |
+--------+----------------+-----------------+
|   1    | 0.384941675504 | 0.0384941675504 |
|   2    | 0.333510074231 | 0.0667020148462 |
|   3    | 0.291268999647 |  0.087380699894 |
|   4    | 0.266702014846 |  0.106680805938 |
|   5    | 0.244750795334 |  0.122375397667 |
|   6    | 0.231000353482 |  0.138600212089 |
|   7    | 0.21390698379  |  0.149734888653 |
|   8    | 0.202014846235 |  0.161611876988 |
|   9    | 0.193943678567 |  0.17454931071  |
|   10   | 0.185896076352 |  0.185896076352 |
+--------+----------------+-----------------+
[10 rows x 3 columns]

Model compare metric: precision_recall
Canvas is accessible via web browser at the URL: http://localhost:52346/index.html
Opening Canvas in default web browser.